header h1 {
    display: inline-block;
}

header nav {
    float: right;    
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px
}

.blog-posts li {
    border: 1px solid aqua;
    margin: 5px;
    padding: 10px 0 0 10px;
}