body {
    display: block;
    margin: 100px;
    column-count: 2;
}

.image {
    padding: 50px;
}

.form {
    padding: 100px;
}

header {
    display: inline-block;
}

header h1 {
    display: inline-block;
}

header nav {
    float: right;    
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px
}